---
import Container from "@/components/primitives/Container.astro";
import { getLocalizedSettings } from "@/lib/localization-helpers";
import { translatePath, unlocalizedUrl } from "@/lib/localization-helpers";
import { locales } from "site";
import footerImage from "@/assets/global/footer-image.jpeg";

const currentLocale = Astro.currentLocale;

const { footer } = getLocalizedSettings(currentLocale);

function getTranslatedUrl(locale: string): string {
	const unlocalizedPath = unlocalizedUrl(Astro.url.pathname);
	return translatePath(locale, unlocalizedPath);
}

function isActiveLocale(locale: string): boolean {
	return locale === currentLocale;
}

---

<div
	style={`background-image: url(${footerImage.src});`}
	class="flex-col text-sm font-medium justify-end flex bg-cover bg-center"
>
	<div class="flex-col text-sm font-medium justify-end pb-10 px-4 lg:px-20 pt-16 flex backdrop-blur-sm">
		<Container>
			<div class="items-center flex-col w-full">
				<div class="items-center flex-col justify-center flex text-white">
					<h3
						class="text-4xl lg:text-6xl leading-normal text-center max-w-4xl"
						set:html={footer.title}
					/>
				</div>
				<div class="mt-16">
					<div class="items-center justify-between flex gap-4">
						<p class="text-white/[0.78] text-base flex flex-col">
							<a class="text-sm">KvK: 95134026</a>
							{footer.copyright}
						</p>
						<div class="flex gap-4">
							{
								locales.map((locale) => (
									<a
										href={getTranslatedUrl(locale)}
										class:list={[
											"items-center justify-start flex overflow-hidden gap-4 relative cursor-pointer",
											isActiveLocale(locale)
												? "bg-white text-black px-2 py-1 rounded-md"
												: "text-white",
										]}
									>
										<span class="overflow-hidden text-md xs:text-lg md:text-xl">
											<span>{locale}</span>
										</span>
									</a>
								))
							}
						</div>
            <div class="flex gap-5 text-lg text-blue-700">
              <a href="/privacy" class="inline-block max-w-full">
                <p class="text-white border-b-2 cursor-pointer pb-1 border-white border-solid">
                  Privacy policy
                </p>
              </a>
					</div>
					</div>
				</div>
			</div>
		</Container>
	</div>
</div>

<slot />
